body {
  font-family: Effra, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  color: #B2D6BF;
  background-color: #006966;
}

button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background-color: #B2D6BF;
  color: #006966; 
  font-weight: bold;
  border: none;
  width: 15%;
  height: 3%;
  margin: 3rem auto;
  display: block;
}

button:hover {
  background-color: orange;
}

#start {
  display: block;
}

#instructions{
  display: none;
}

#serial_test{
  display: block;
  margin: auto;
}

#recording {
  display: none;
}

#reflecting {
  display: none;
}

#results {
  display: none;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.Title{
  text-align: center;
  font-weight: bold;
  font-family: Effra, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Helvetica,
    Arial, sans-serif;
  font-size: 10vw;
}

.stateTitle{
  text-align: center;
  font-weight: bold;
  font-family: Effra, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 5vw;
}

#microphoneIcon{
  height: 25rem;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#startIcon{
  height: 30rem;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  aspect-ratio: 3/2;
  width: 36vw;
  height: auto;
  margin: 1% 2%;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card:hover .backCard {
  opacity: 1;
}
.card:hover .frontCard {
  opacity: 0.2;
}

.frontCard, .backCard {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.backCard {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imageResult{
  width: 100%;
  height: 100%;
}

.agentResult{
  font-size: 3rem;
  font-weight: bold;
}
.reflectionResult{
  font-size: 1rem;
  font-weight: normal;
  margin: 20px;
}